body{
    text-align: center;
}
p{
    margin-right: 25%;
    margin-left: 25%; 
}
#introduction{
    background-color:#FF000080;
    border-radius: 25px;
    border: 5px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25%;
    margin-left: 25%;
}
.bothlist {
    display: grid;
    grid-template-columns: auto auto; /* Two equal columns */
    gap: 1px; /* Space between columns */
    margin-right: 25%;
    margin-left: 25%;
}
.bothlist ul {
    text-align: start;
    background-color:#FF000080;
    border-radius: 25px;
    border: 5px solid #ddd;
    padding: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25%;
    margin-left: 25%;
}
#doggos{
    background-color:#FF000080;
    border-radius: 25px;
    border: 5px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25%;
    margin-left: 25%;
}
img{
    /*Border around all images*/
    width: 20%;
    height: 20%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
/**/