header {
    background-image: url("../../pictures/pokemonpics/teambuild.jpg");
    background-repeat: no-repeat;
    padding-top: 2em;
    padding-bottom: 2em;
    background-size: cover;
    background-position: 50% 35%;

}

h1 {
    color: var(--whitecolor);
    padding-top: 0.5em;
    font-size: 500%;
    font-style: oblique;
    margin-right: 0.25em;
    margin-left: 0.25em;
    text-shadow:
        -2px -2px 0 black,
        /* Top-left shadow */
        2px -2px 0 black,
        /* Top-right shadow */
        -2px 2px 0 black,
        /* Bottom-left shadow */
        2px 2px 0 black;
    /* Bottom-right shadow */
}

img {
    min-width: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgcenter {
    text-align: center;
    align-content: center;
}

#overview {
    grid-area: ove;
}

#checklist {
    grid-area: che;
}

#howtochoose {
    grid-area: cho;
}

#listflexcontainer {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    gap: 2em;
    justify-content: space-evenly;
}

.listflexitem {
    flex-basis: 33%;
}

#strategy {
    grid-area: str;
}

#itemchoice {
    grid-area: ite;
}

#tera {
    grid-area: ter
}

#resource {
    grid-area: res;
}

#img2 {
    grid-area: im2;
    justify-self: center;
}


#img3 {
    grid-area: im3;
    justify-self: center;
}

#img4 {
    grid-area: im4;
    justify-self: center;
}

#img5 {
    grid-area: im5;
    justify-self: center;
}

#img6 {
    grid-area: im6;
}

#img7 {
    grid-area: im7;
}

#gridcontainer {
    display: grid;
    grid-template-columns: 0.2fr repeat(5, 1fr) 0.2fr;
    grid-template-rows: repeat(9, max-content);
    grid-gap: 2.5em;
    grid-template-areas:
        ". ove ove ove che che ."
        ". cho cho cho cho cho ."
        ". str str str im2 im2 ."
        ". str str str im3 im3 ."
        ". im4 im4 ite ite ite ."
        ". im5 im5 ite ite ite ."
        ". ter ter ter im6 im6 ."
        ". ter ter ter im7 im7 ."
        ". res res res res res .";
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/
@media only screen and (max-width: 1770px) {
    #gridcontainer {
        grid-template-columns: 0.2fr repeat(2, 1fr) 0.01fr repeat(2, 1fr) 0.2fr;
        grid-template-rows: repeat(9, max-content);
        grid-template-areas:
            ". ove ove ove che che ."
            ". cho cho cho cho cho ."
            ". str str str str str ."
            ". im2 im2 . im3 im3 ."
            ". ite ite ite ite ite ."
            ". im4 im4 . im5 im5 ."
            ". ter ter ter ter ter ."
            ". im6 im6 . im7 im7 ."
            ". res res res res res .";
    }
}

@media only screen and (max-width: 1300px) {
    #gridcontainer {
        grid-template-columns: 0.2fr repeat(2, 1fr) 0.01fr repeat(2, 1fr) 0.2fr;
        grid-template-rows: repeat(9, max-content);
        grid-template-areas:
            ". ove ove ove ove ove ."
            ". che che che che che ."
            ". cho cho cho cho cho ."
            ". str str str str str ."
            ". im2 im2 . im3 im3 ."
            ". ite ite ite ite ite ."
            ". im4 im4 . im5 im5 ."
            ". ter ter ter ter ter ."
            ". im6 im6 . im7 im7 ."
            ". res res res res res .";
    }

    #core {
        order: 1
    }

    #img1 {
        order: 2
    }

    #roles {
        order: 3
    }

    #listflexcontainer {
        flex-direction: column;
    }

    .listflexitem {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 1025px) {
    #gridcontainer {
        grid-template-columns: 0.1fr repeat(2, 1fr) 0.1fr;
        grid-template-rows: repeat(11, min-content);
        grid-template-areas:
            ". ove ove ."
            ". che che ."
            ". cho cho ."
            ". str str ."
            ". im2 im3 ."
            ". ite ite ."
            ". im4 im5 ."
            ". ter ter ."
            ". im6 im6 ."
            ". im7 im7 ."
            ". res res .";
    }

    h1 {
        font-size: 300%;
    }
}

@media only screen and (max-width: 645px) {
    #gridcontainer {
        display: grid;
        grid-template-columns: 0.01fr repeat(1, 1fr) 0.01fr;
        grid-template-rows: repeat(13, min-content);
        grid-gap: 2em;
        grid-template-areas:
            ". ove ."
            ". che ."
            ". cho ."
            ". str ."
            ". im2 ."
            ". im3 ."
            ". ite ."
            ". im4 ."
            ". im5 ."
            ". ter ."
            ". im6 ."
            ". im7 ."
            ". res .";
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 250%;
    }
}