/*****************

    These classes are in the pokemonstructure.css file:
        .divborder 
        .ulpadding 

*****************/
:root {
    /*Colors that are for the Read more buttons on webpage*/
    --readmorelinkbackground: rgb(173, 173, 162);
    --readmorelinkhoverbackground: rgb(188, 188, 169);
}

header {
    background-image: url("../../pictures/pokemonpics/rotomphonespark.jpg");
    background-repeat: no-repeat;
    padding-top: 3em;
    padding-bottom: 3em;
    background-size: cover;
    background-position: center center;
}

h1 {
    /*Applies the outline to the <h1> tags*/
    color: var(--whitecolor);
    padding-top: 0.5em;
    font-size: 400%;
    font-style: oblique;
    margin-right: 0.25em;
    margin-left: 0.25em;
    text-shadow:
        /*Creates the outline for the text*/
        -2px -2px 0 var(--blackcolor),
        /* Top-left shadow */
        2px -2px 0 var(--blackcolor),
        /* Top-right shadow */
        -2px 2px 0 var(--blackcolor),
        /* Bottom-left shadow */
        2px 2px 0 var(--blackcolor);
    /* Bottom-right shadow */

}

/*Video area: Next two ID selectors are for the video and video area on the page*/
#videobox {
    grid-area: vid;
    margin-right: 1.25%;
    place-content: center;
}

#pokemonvideo {
    width: 100%;
    height: auto;
    border-radius: 1em;
    border: 0.25em ridge black;
    background-color: black;
    box-shadow: -0.1em -0.1em 0.5em black, 0.1em 0.1em 0.5em black;
}

#overview>h2 {
    /*Centers only the h2 in the Overview section*/
    text-align: center;
}

/*The following two classes are for the "Read More" button on the page*/
.readmorebtn {
    text-align: left;
    margin-top: 1em;
}

.linkbtn {
    background-color: var(--readmorelinkbackground);
    padding: 0.5em;
    border-radius: 0.75em;
}

.linkbtn:hover {
    /*hover for the class: linkbtn, makes th background change colors for the "button"*/
    background-color: var(--readmorelinkhoverbackground);
}

/*Grid-areas defined below*/
/*Line 45 is part of the grid area and contains a video, is grid-area: vid*/
/*Following grid-areas contain text*/
#overview {
    grid-area: ove;
    text-align: center;
}

#team {
    grid-area: tea;
}

#train {
    grid-area: tra;
}

#breed {
    grid-area: bre;
}

#resource {
    grid-area: res;
}

#gridcontainer {
    /*Grid layout*/
    display: grid;
    grid-template-columns: 0.06fr repeat(2, 1fr) 0.06fr;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 2.5em;
    grid-template-areas:
        ". vid ove ."
        ". tea tra ."
        ". bre res .";
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/

@media only screen and (max-width: 1560px) {
    h1 {
        font-size: 350%;
    }
}

@media only screen and (max-width: 1400px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.06fr repeat(2, 1fr) 0.06fr;
        grid-template-rows: repeat(4, min-content);
        grid-template-areas:
            ". vid vid ."
            ". ove ove ."
            ". tea tra ."
            ". bre res .";
    }

    h1 {
        font-size: 500%;

    }

    header {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 350%;
    }
}

@media only screen and (max-width: 819px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 1fr;
        grid-template-columns: 0.025fr 1fr 0.025fr;
        grid-template-rows: repeat(6, min-content);
        grid-template-areas:
            ". vid ."
            ". ove ."
            ". tea ."
            ". tra ."
            ". bre ."
            ". res .";
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 300%;
    }
}

@media only screen and (max-width: 620px) {
    h1 {
        font-size: 250%;
    }
}

/**/