header{
    grid-area: hea;
}
#overview {
    grid-area: ove;
}
#whatisvgc{
    grid-area: vgc;
}
#whydoubles {
    grid-area: dou;
}
#rules {
    grid-area: rul;
}
#regulations {
    grid-area: reg
}
#resource {
    grid-area: res;
}
#img1 {
    grid-area: im1;
}
#img2 {
    grid-area: im2;
}
#img3 {
    grid-area: im3;
}
main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1em;
    grid-template-areas: 
        "hea hea hea hea hea hea"
        "ove ove ove ove ove ove"
        "im1 im1 vgc vgc vgc vgc"
        "im2 im2 dou dou dou dou"
        "im3 im3 rul rul reg reg"
        "res res res res res res";
}
/***************** *****************/
/*****************
Media Queries Start Here
*****************/
@media only screen and (max-width: 600px) {
    main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1em;
    grid-template-areas: 
        "hea hea hea hea hea hea"
        "ove ove ove ove ove ove"
        "im1 im1 vgc vgc vgc vgc"
        "im2 im2 dou dou dou dou"
        "im3 im3 rul rul reg reg"
        "res res res res res res";
}
}