#stats {
    grid-area: sta;
}

#effectstats {
    grid-area: eff;
}
#effortvalues {
    grid-area: evs;
}

#Increaseevs {
    grid-area: upe;
}

#spread {
    grid-area: spr;
}

#resource {
    grid-area: res;
}

#img1 {
    grid-area: im1;
}

#img2 {
    grid-area: im2;
}

#img3 {
    grid-area: im3;
}

#img4 {
    grid-area: im4;
}

#img5 {
    grid-area: im5;
}

#gridcontainer {
    display: grid;
    grid-template-columns: 0.2fr repeat(4, 1fr) 0.2fr;
    grid-template-rows: repeat(5, max-content);
    grid-gap: 1em;
    grid-template-areas:
        ". sta sta sta im1 ."
        ". eff eff im2 im3 ."
        ". evs evs upe upe ."
        ". spr spr im4 im5 ."
        ". res res res res .";
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/
@media only screen and (max-width: 1035px) {
    #gridcontainer {
    display: grid;
    grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
    grid-template-rows: repeat(8, max-content);
    grid-gap: 1em;
    grid-template-areas:
        ". sta im1 ."
        ". eff eff ."
        ". im2 im3 ."
        ". evs evs ."
        ". upe upe ."
        ". spr spr ."
        ". im4 im5 ."
        ". res res .";
}
}
@media only screen and (max-width: 600px) {
    #gridcontainer {
    display: grid;
    grid-template-columns: 0.1fr repeat(1, 1fr) 0.1fr;
    grid-template-rows: repeat(11, min-content);
    grid-gap: 1em;
    grid-template-areas:
        ". sta ."
        ". im1 ."
        ". eff ."
        ". im2 ."
        ". im3 ."
        ". evs ."
        ". upe ."
        ". spr ."
        ". im4 ."
        ". im5 ."
        ". res .";
}
}