/*****************

    These classes are in the pokemonstructure.css file:
        .divborder 
        .ulpadding 

*****************/

header {
    background-image: url("../../pictures/pokemonpics/rankedbattlescreen.jpg");
    background-repeat: no-repeat;
    padding-top: 1em;
    padding-bottom: 1em;
    background-size: cover;
    background-position-y: 35%;
}

h1 {
    /*Applies the outline to the <h1> tags*/
    color: var(--whitecolor);
    padding-top: 0.5em;
    font-size: 500%;
    font-style: oblique;
    margin-right: 0.25em;
    margin-left: 0.25em;
    text-shadow:
        -2px -2px 0 var(--blackcolor),
        /* Top-left shadow */
        2px -2px 0 var(--blackcolor),
        /* Top-right shadow */
        -2px 2px 0 var(--blackcolor),
        /* Bottom-left shadow */
        2px 2px 0 var(--blackcolor);
    /* Bottom-right shadow */
}

/*Grid-areas defined below*/
#whatisvgc {
    grid-area: vgc;
}

#whydoubles {
    grid-area: dou;
}

#rules {
    grid-area: rul;
}

#regulations {
    grid-area: reg
}

#resource {
    grid-area: res;
}

#img1 {
    grid-area: im1;
}

#img2 {
    grid-area: im2;
}

#gridcontainer {
    /*Grid layout*/
    display: grid;
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    grid-template-rows: repeat(4, max-content);
    grid-gap: 2.5em;
    grid-template-areas:
        ". vgc vgc vgc vgc vgc vgc ."
        ". im2 im2 im2 im1 im1 im1 ."
        ". dou dou dou dou dou dou ."
        ". rul rul rul reg reg reg ."
        ". res res res res res res .";
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/

@media only screen and (max-width: 1200px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.05fr repeat(2, 1fr) 0.05fr;
        grid-template-rows: repeat(6, max-content);
        grid-template-areas:
            ". vgc vgc ."
            ". im1 im1 ."
            ". dou dou ."
            ". im2 im2 ."
            ". rul reg ."
            ". res res .";
    }
}

@media only screen and (max-width: 1130px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.025fr repeat(1, 1fr) 0.025fr;
        grid-template-rows: repeat(7, min-content);
        grid-template-areas:
            ". vgc ."
            ". im1 ."
            ". dou ."
            ". im2 ."
            ". rul ."
            ". reg ."
            ". res .";
    }

    h1 {
        font-size: 300%;
    }
}

@media only screen and (max-width: 420px) {
    h1 {
        font-size: 200%;
    }
}

/**/