/*****************

    These classes are in the pokemonstructure.css file:
        .divborder 
        .ulpadding 

*****************/

header {
    background-image: url("../../pictures/pokemonpics/teambuild.jpg");
    background-repeat: no-repeat;
    padding-top: 2em;
    padding-bottom: 2em;
    background-size: cover;
    background-position: 50% 35%;

}

h1 {
    /*Applies the outline to the <h1> tags*/
    color: var(--whitecolor);
    padding-top: 0.5em;
    font-size: 500%;
    font-style: oblique;
    margin-right: 0.25em;
    margin-left: 0.25em;
    text-shadow:
        -2px -2px 0 var(--blackcolor),
        /* Top-left shadow */
        2px -2px 0 var(--blackcolor),
        /* Top-right shadow */
        -2px 2px 0 var(--blackcolor),
        /* Bottom-left shadow */
        2px 2px 0 var(--blackcolor);
    /* Bottom-right shadow */
}

img {
    /*Styling applies to all images on this page*/
    min-width: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgcenter {
    /*images given this class are centered within the container they are in*/
    text-align: center;
    align-content: center;
}

/*Grid-areas defined below, ARE TWO GRIDS HERE*/
/*Following four ID selector's grid-area definitions are for the ID: listgridcontainer 
that is in the <div> ID: howtochoose*/
#choosetitle {
    grid-area: tit;
}

#core {
    grid-area: cor;
}

#roles {
    grid-area: rol;
}

#img1 {
    /*image that resides within the <div> ID: howtochoose*/
    grid-area: im1;
    place-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#listgridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
        "tit tit im1 "
        "cor rol im1";
    grid-column-gap: 1.5em;
}

/*Main Grid-areas defined below*/
#overview {
    grid-area: ove;
}

#checklist {
    grid-area: che;
}

#howtochoose {
    grid-area: cho;
}

#strategy {
    grid-area: str;
}

#itemchoice {
    grid-area: ite;
}

#tera {
    grid-area: ter
}

#resource {
    grid-area: res;
}

#img2 {
    grid-area: im2;
    justify-self: center;
    /*Centers the contents in its container*/
}


#img3 {
    grid-area: im3;
    justify-self: center;
    /*Centers the contents in its container*/
}

#img4 {
    grid-area: im4;
    justify-self: center;
    /*Centers the contents in its container*/
}

#img5 {
    grid-area: im5;
    justify-self: center;
    /*Centers the contents in its container*/
}

#img6 {
    grid-area: im6;
}

#img7 {
    grid-area: im7;
}

#gridcontainer {
    /*Grid layout*/
    display: grid;
    grid-template-columns: 0.15fr repeat(5, 1fr) 0.15fr;
    grid-template-rows: repeat(9, max-content);
    grid-gap: 2.5em;
    grid-template-areas:
        ". ove ove ove che che ."
        ". cho cho cho cho cho ."
        ". str str str im2 im2 ."
        ". str str str im3 im3 ."
        ". im4 im4 ite ite ite ."
        ". im5 im5 ite ite ite ."
        ". ter ter ter im6 im6 ."
        ". ter ter ter im7 im7 ."
        ". res res res res res .";
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/

@media only screen and (max-width: 1770px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.13fr repeat(2, 1fr) 0.01fr repeat(2, 1fr) 0.13fr;
        grid-template-rows: repeat(9, max-content);
        grid-template-areas:
            ". ove ove ove che che ."
            ". cho cho cho cho cho ."
            ". str str str str str ."
            ". im2 im2 . im3 im3 ."
            ". ite ite ite ite ite ."
            ". im4 im4 . im5 im5 ."
            ". ter ter ter ter ter ."
            ". im6 im6 . im7 im7 ."
            ". res res res res res .";
    }
}

@media only screen and (max-width: 1300px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.13fr repeat(2, 1fr) 0.01fr repeat(2, 1fr) 0.13fr;
        grid-template-rows: repeat(9, max-content);
        grid-template-areas:
            ". ove ove ove ove ove ."
            ". che che che che che ."
            ". cho cho cho cho cho ."
            ". str str str str str ."
            ". im2 im2 . im3 im3 ."
            ". ite ite ite ite ite ."
            ". im4 im4 . im5 im5 ."
            ". ter ter ter ter ter ."
            ". im6 im6 . im7 im7 ."
            ". res res res res res .";

    }

    #listgridcontainer {
        /*Redefined Grid layout (smaller grid in ID: howtochoose)*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas:
            "tit tit tit "
            "cor cor cor "
            ". im1 ."
            "rol rol rol ";
    }
}

@media only screen and (max-width: 1025px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.05fr repeat(2, 1fr) 0.05fr;
        grid-template-rows: repeat(11, min-content);
        grid-template-areas:
            ". ove ove ."
            ". che che ."
            ". cho cho ."
            ". str str ."
            ". im2 im3 ."
            ". ite ite ."
            ". im4 im5 ."
            ". ter ter ."
            ". im6 im6 ."
            ". im7 im7 ."
            ". res res .";
    }

    h1 {
        font-size: 300%;
    }
}

@media only screen and (max-width: 645px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        display: grid;
        grid-template-columns: 0.024fr repeat(1, 1fr) 0.024fr;
        grid-template-rows: repeat(13, min-content);
        grid-template-areas:
            ". ove ."
            ". che ."
            ". cho ."
            ". str ."
            ". im2 ."
            ". im3 ."
            ". ite ."
            ". im4 ."
            ". im5 ."
            ". ter ."
            ". im6 ."
            ". im7 ."
            ". res .";
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 250%;
    }
}