/*****************

    These classes are in the pokemonstructure.css file:
        .divborder 
        .ulpadding 

*****************/

:root {
    --tabletitlebackground: rgb(74, 119, 60);
    --tabletitlebordercolor: rgb(61, 95, 50);
    --tabletdcolor: rgb(28, 28, 28);
    --tablefirstchildcolor: rgb(35, 35, 35);
    --tablelastchildcolor: rgb(45, 45, 45);
}

header {
    background-image: url("../../pictures/pokemonpics/feraligatr.jpg");
    background-repeat: no-repeat;
    padding-top: 4em;
    padding-bottom: 4em;
    background-size: cover;
    background-position: center;
    background-position-y: 60%;
}

h1 {
    /*Applies the outline to the <h1> tags*/
    color: var(--whitecolor);
    padding-top: 0.5em;
    font-size: 350%;
    font-style: oblique;
    margin-right: 0.25em;
    margin-left: 0.25em;
    text-shadow:
        -2px -2px 0 var(--blackcolor),
        /* Top-left shadow */
        2px -2px 0 var(--blackcolor),
        /* Top-right shadow */
        -2px 2px 0 var(--blackcolor),
        /* Bottom-left shadow */
        2px 2px 0 var(--blackcolor);
    /* Bottom-right shadow */
}

img {
    /*minimum width for all imgs on this page*/
    min-width: 200px;
}

.flexcontainer {
    /*flex box styling */
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/*<table> tag styling below*/
#ivtable {
    border-collapse: collapse;
    color: var(--whitecolor);
    border-radius: 6px;
    width: 100%;
}

#ivtable .title {
    background: var(--tabletitlebackground);
    border-bottom: 2px solid var(--tabletitlebordercolor);
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

#ivtable th {
    background: var(--tabletitlebordercolor);
    padding: 0.75em;
}

#ivtable td {
    padding: 0.5em;
    border-top: 1px solid var(--tabletdcolor);
}

#ivtable td:first-child {
    background: var(--tablefirstchildcolor);
}

#ivtable td:last-child {
    background: var(--tablelastchildcolor);
}

/*Grid-areas defined below*/
#overview {
    grid-area: ove;
}

#ivsexplain {
    grid-area: ivs;
}

#judge {
    grid-area: jud;
}

#benefitsbreeding {
    grid-area: bbr;
}

#needstobreed {
    grid-area: ntb;
}

#hatching {
    grid-area: hat
}

#resource {
    grid-area: res;
}

#table {
    grid-area: tab;
}

#img2 {
    grid-area: im2;
}

#img3 {
    grid-area: im3;
}

#img4 {
    grid-area: im4;
}

#img5 {
    grid-area: im5;
}

#essential {
    grid-area: ess;
}

#img7 {
    grid-area: im7;
}

#gridcontainer {
    /*Grid layout*/
    display: grid;
    grid-gap: 2.5em;
    grid-template-columns: 0.38fr repeat(10, 1fr) 0.38fr;
    grid-template-rows: repeat(8, min-content);
    grid-template-areas:
        ". ove ove ove ove ove ove ove ove im2 im2 ."
        ". ivs ivs ivs ivs ivs ivs ivs im3 im3 im3 ."
        ". tab tab tab tab tab jud jud jud jud jud ."
        ". bbr bbr bbr bbr bbr bbr bbr bbr im4 im4 ."
        ". ess ess ess ess ess ess ess im5 im5 im5 ."
        ". ntb ntb ntb ntb ntb ntb ntb ntb ntb ntb ."
        ". hat hat hat hat hat hat hat im7 im7 im7 ."
        ". res res res res res res res res res res .";
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/
@media only screen and (max-width: 1640px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.39fr repeat(10, 1fr) 0.39fr;
        grid-template-rows: repeat(9, max-content);
        grid-template-areas:
            ". ove ove ove ove ove ove ove im2 im2 im2 ."
            ". ivs ivs ivs ivs ivs ivs ivs im3 im3 im3 ."
            ". tab tab tab tab tab jud jud jud jud jud ."
            ". bbr bbr bbr bbr bbr bbr bbr bbr bbr bbr ."
            ". im4 im4 im4 im4 . . im5 im5 im5 im5 ."
            ". ntb ntb ntb ntb ntb ntb ntb ntb ntb ntb ."
            ". ess ess ess ess ess ess ess ess ess ess. "
            ". hat hat hat hat hat hat hat im7 im7 im7 ."
            ". res res res res res res res res res res .";
    }
}

@media only screen and (max-width: 1421px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.39fr repeat(10, 1fr) 0.39fr;
        grid-template-rows: repeat(10, max-content);
        grid-template-areas:
            ". ove ove ove ove ove ove ove im2 im2 im2 ."
            ". ivs ivs ivs ivs ivs ivs ivs im3 im3 im3 ."
            ". jud jud jud jud jud jud jud jud jud jud ."
            ". . . tab tab tab tab tab tab . . ."
            ". bbr bbr bbr bbr bbr bbr bbr bbr bbr bbr ."
            ". im4 im4 im4 im4 . . im5 im5 im5 im5 ."
            ". ntb ntb ntb ntb ntb ntb ntb ntb ntb ntb ."
            ". ess ess ess ess ess ess ess ess ess ess. "
            ". hat hat hat hat hat hat hat im7 im7 im7 ."
            ". res res res res res res res res res res .";
    }
}

@media only screen and (max-width: 1360px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.39fr repeat(10, 1fr) 0.39fr;
        grid-template-rows: repeat(12, max-content);
        grid-template-areas:
            ". ove ove ove ove ove ove ove ove ove ove ."
            ". im2 im2 im2 im2 . . im3 im3 im3 im3 ."
            ". ivs ivs ivs ivs ivs ivs ivs ivs ivs ivs ."
            ". jud jud jud jud jud jud jud jud jud jud ."
            ". . . tab tab tab tab tab tab . . ."
            ". bbr bbr bbr bbr bbr bbr bbr bbr bbr bbr ."
            ". im4 im4 im4 im4 . . im5 im5 im5 im5 ."
            ". ntb ntb ntb ntb ntb ntb ntb ntb ntb ntb ."
            ". ess ess ess ess ess ess ess ess ess ess. "
            ". . . . im7 im7 im7 im7 . . . . "
            ". hat hat hat hat hat hat hat hat hat hat ."
            ". res res res res res res res res res res .";
    }
}

@media only screen and (max-width: 1030px) {
    h1 {
        font-size: 300%;
    }
}

@media only screen and (max-width: 1025px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.42fr repeat(10, 1fr) 0.42fr;
        grid-template-rows: repeat(11, max-content);
        grid-template-areas:
            ". ove ove ove ove ove ove ove ove ove ove ."
            ". im2 im2 im2 im2 im2 im3 im3 im3 im3 im3 ."
            ". ivs ivs ivs ivs ivs ivs ivs ivs ivs ivs ."
            ". jud jud jud jud jud jud jud jud jud jud ."
            ". . . tab tab tab tab tab tab . . ."
            ". bbr bbr bbr bbr bbr bbr bbr bbr bbr bbr ."
            ". im4 im4 im4 im4 im4 im5 im5 im5 im5 im5 ."
            ". ntb ntb ntb ntb ntb ntb ntb ntb ntb ntb ."
            ". ess ess ess ess ess ess ess ess ess ess. "
            ". . . im7 im7 im7 im7 im7 im7 . . . "
            ". hat hat hat hat hat hat hat hat hat hat ."
            ". res res res res res res res res res res .";
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 250%;
    }
}

@media only screen and (max-width: 801px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.06fr 0.5fr 1fr 0.5fr 0.06fr;
        grid-template-rows: repeat(14, max-content);
        grid-template-areas:
            ". ove ove ove ."
            ". . im2 . ."
            ". ivs ivs ivs ."
            ". . im3 . ."
            ". jud jud jud ."
            ". tab tab tab ."
            ". bbr bbr bbr ."
            ". . im4 . ."
            ". ntb ntb ntb ."
            ". . im5 . ."
            ". ess ess ess."
            ". . im7 . ."
            ". hat hat hat ."
            ". res res res .";
    }

    img {
        /*Redefine the minimum width for all images on this page*/
        min-width: 250px;
    }
}

@media only screen and (max-width: 770px) {
    h1 {
        font-size: 200%;
    }
}

@media only screen and (max-width: 521px) {
    #gridcontainer {
        /*Redefined Grid layout*/
        grid-template-columns: 0.025fr 1fr 0.025fr;
        grid-template-rows: repeat(14, max-content);
        grid-template-areas:
            ". ove ."
            ". im2 ."
            ". ivs ."
            ". im3 ."
            ". jud ."
            ". tab ."
            ". bbr ."
            ". im4 ."
            ". ntb ."
            ". im5 ."
            ". ess ."
            ". im7 ."
            ". hat ."
            ". res .";
    }

    .flexcontainer {
        /*Redefined direction flow of flex box layout*/
        flex-direction: column;
    }

    img {
        /*Redefine the minimum width for all images on this page*/
        min-width: 200px;
    }
}