#overview {
    grid-area: ove;
}
#whatisvgc{
    grid-area: vgc;
}
#whydoubles {
    grid-area: dou;
}
#rules {
    grid-area: rul;
}
#regulations {
    grid-area: reg
}
#resource {
    grid-area: res;
}
#img1 {
    grid-area: im1;
}
#img2 {
    grid-area: im2;
}
#img3 {
    grid-area: im3;
}
#gridcontainer {
    display: grid;
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    grid-template-rows: repeat(5, max-content);
    grid-gap: 1em;
    grid-template-areas: 
        ". ove ove ove ove ove ove ."
        ". im1 im1 vgc vgc vgc vgc ."
        ". im2 im2 dou dou dou dou ."
        ". im3 im3 rul rul reg reg ."
        ". res res res res res res .";
}
/***************** *****************/
/*****************
Media Queries Start Here
*****************/
@media only screen and (max-width: 1030px) {
    #gridcontainer {
    display: grid;
    grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
    grid-template-rows: repeat(8, max-content);
    grid-gap: 1em;
    grid-template-areas: 
        ". ove ove ."
        ". vgc vgc ."
        ". im1 im1 ." 
        ". dou dou ."
        ". im2 im2 ."
        ". rul reg ."
        ". im3 im3 ."
        ". res res .";
}
}
@media only screen and (max-width: 480px) {
    #gridcontainer {
    display: grid;
    grid-template-columns: 0.01fr repeat(1, 1fr) 0.01fr;
    grid-template-rows: repeat(9, min-content);
    grid-gap: 1em;
    grid-template-areas: 
        ". ove ."
        ". vgc ."
        ". im1 ." 
        ". dou ."
        ". im2 ."
        ". rul ."
        ". im3 ."
        ". reg ."
        ". res .";
}
}