:root {
    --readmorelinkbackground: rgb(173, 173, 162);
    --readmorelinkhoverbackground: rgb(188, 188, 169);
}

header {
    background-image: url("../../pictures/pokemonpics/rotomphonespark.jpg");
    background-repeat: no-repeat;
    padding-top: 4em;
    padding-bottom: 4em;
    background-size: cover;
    background-position: center center;
}

h1 {
    color: var(--whitecolor);
    padding-top: 0.5em;
    font-size: 400%;
    font-style: oblique;
    margin-right: 0.25em;
    margin-left: 0.25em;
    text-shadow:
        -2px -2px 0 black,
        /* Top-left shadow */
        2px -2px 0 black,
        /* Top-right shadow */
        -2px 2px 0 black,
        /* Bottom-left shadow */
        2px 2px 0 black;
    /* Bottom-right shadow */

}

#videobox {
    grid-area: vid;
    margin-right: 1.25%;
    place-content: center;
}
#pokemonvideo {
    width: 100%;
    height: auto;
    border-radius: 1em;
    border: 0.25em ridge black;
    background-color: black;
    box-shadow: -0.1em -0.1em 0.5em black, 0.1em 0.1em 0.5em black;
}

#overview>h2 {
    text-align: center;
}

#overview {
    grid-area: ove;
    text-align: center;
}
.readmorebtn {
    text-align: left;
    margin-top: 1em;
}

#overviewlink {
    background-color: var(--readmorelinkbackground);
    padding: 0.5em;
    border-radius: 0.75em;
    
}

#overviewlink:hover {
    background-color: var(--readmorelinkhoverbackground);
}

#team {
    grid-area: tea;
}

#teamlink {
    background-color: var(--readmorelinkbackground);
    padding: 0.5em;
    border-radius: 0.75em;
}

#teamlink:hover {
    background-color: var(--readmorelinkhoverbackground);
}

#train {
    grid-area: tra;
}

#traininglink {
    background-color: var(--readmorelinkbackground);
    padding: 0.5em;
    border-radius: 0.75em;
}

#traininglink:hover {
    background-color: var(--readmorelinkhoverbackground);
}

#breed {
    grid-area: bre;
}

#breedinglink {
    background-color: var(--readmorelinkbackground);
    padding: 0.5em;
    border-radius: 0.75em;
}

#breedinglink:hover {
    background-color: var(--readmorelinkhoverbackground);
}

#resrouce {
    grid-area: res;
}

#gridcontainer {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
    grid-gap: 2.5em;
    grid-template-areas:
        "vid ove"
        "tea tra"
        "bre res";
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/
@media only screen and (max-width: 1560px) {
    h1 {
        font-size: 350%;
    }
}

@media only screen and (max-width: 1400px) {
    #gridcontainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, min-content);
        grid-template-areas:
            "vid vid"
            "ove ove"
            "tea tra"
            "bre res";
    }
    h1 {
        font-size: 500%;

    }
    header {
    padding-top: 2%;
    padding-bottom: 2%;
    }
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 350%;
    }
}
@media only screen and (max-width: 819px) {
    #gridcontainer {
        margin-left: 5%;
        margin-right: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, min-content);
        grid-template-areas:
            "vid"
            "ove"
            "tea"
            "tra"
            "bre"
            "res";
    }}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 300%;
    }
}

@media only screen and (max-width: 620px) {
    h1 {
        font-size: 250%;
    }
}
