.paddinglandr {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.ulpadding {
    padding-left: 2.5em;
    line-height: 2em;
    font-size: 1.2rem;
}

#overview {
    grid-area: ove;
}

#checklist {
    grid-area: che;
}

#howtochoose {
    grid-area: cho;
}

#listflexcontainer {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    gap: 1em;
}

.listflexitem {
    flex-basis: 50%;
}

#strategy {
    grid-area: str;
}

#itemchoice {
    grid-area: ite;
}

#tera {
    grid-area: ter
}

#resource {
    grid-area: res;
}

#img1 {
    grid-area: im1;
}

#img2 {
    grid-area: im2;
}

#img3 {
    grid-area: im3;
}

#img4 {
    grid-area: im4;
}

#img5 {
    grid-area: im5;
}

#img6 {
    grid-area: im6;
}

#img7 {
    grid-area: im7;
}

#gridcontainer {
    display: grid;
    grid-template-columns: 0.2fr repeat(5, 1fr) 0.2fr;
    grid-template-rows: repeat(9, max-content);
    grid-gap: 2em;
    grid-template-areas:
        ". ove ove ove che che ."
        ". cho cho cho im1 im1 ."
        ". str str str im2 im2 ."
        ". str str str im3 im3 ."
        ". im4 im4 ite ite ite ."
        ". im5 im5 ite ite ite ."
        ". ter ter ter im6 im6 ."
        ". ter ter ter im7 im7 ."
        ". res res res res res .";
    margin-top: 1em;
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/
@media only screen and (max-width: 1400px) {
    #gridcontainer {
        grid-template-columns: 0.2fr repeat(2, 1fr) 0.01fr repeat(2, 1fr) 0.2fr;
        grid-template-rows: repeat(10, max-content);
        grid-template-areas:
            ". ove ove ove che che ."
            ". cho cho cho cho cho ."
            ". im1 im1 im1 im1 im1 ."
            ". str str str str str ."
            ". im2 im2 . im3 im3 ."
            ". ite ite ite ite ite ."
            ". im4 im4 . im5 im5 ."
            ". ter ter ter ter ter ."
            ". im6 im6 . im7 im7 ."
            ". res res res res res .";
        margin-top: 1em;
    }
}

@media only screen and (max-width: 1156px) {
    #gridcontainer {
        grid-template-columns: 0.2fr repeat(2, 1fr) 0.01fr repeat(2, 1fr) 0.2fr;
        grid-template-rows: repeat(10, max-content);
        grid-template-areas:
            ". ove ove ove ove ove ."
            ". che che che che che ."
            ". cho cho cho cho cho ."
            ". im1 im1 im1 im1 im1 ."
            ". str str str str str ."
            ". im2 im2 . im3 im3 ."
            ". ite ite ite ite ite ."
            ". im4 im4 . im5 im5 ."
            ". ter ter ter ter ter ."
            ". im6 im6 . im7 im7 ."
            ". res res res res res .";
        margin-top: 1em;
    }

    #listflexcontainer {
        flex-direction: column;
    }

    .listflexitem {
        flex-basis: 100%;
    }

}

@media only screen and (max-width: 770px) {
    #gridcontainer {
        grid-template-columns: 0.1fr repeat(2, 1fr) 0.1fr;
        grid-template-rows: repeat(11, min-content);
        grid-template-areas:
            ". ove ove ."
            ". che che ."
            ". cho cho ."
            ". im1 im1 ."
            ". str str ."
            ". im2 im3 ."
            ". ite ite ."
            ". im4 im5 ."
            ". ter ter ."
            ". im6 im7 ."
            ". res res .";
    }
}

@media only screen and (max-width: 480px) {
    #gridcontainer {
        display: grid;
        grid-template-columns: 0.01fr repeat(1, 1fr) 0.01fr;
        grid-template-rows: repeat(14, min-content);
        grid-gap: 2em;
        grid-template-areas:
            ". ove ."
            ". che ."
            ". cho ."
            ". im1 ."
            ". str ."
            ". im2 ."
            ". im3 ."
            ". ite ."
            ". im4 ."
            ". im5 ."
            ". ter ."
            ". im6 ."
            ". im7 ."
            ". res .";
    }
    .ulpadding {
    font-size: 1rem;
}
}