header {
    grid-area: hea;
}

#stats {
    grid-area: sta;
}

#effectstats {
    grid-area: eff;
}
#effortvalues {
    grid-area: evs;
}

#Increaseevs {
    grid-area: upe;
}

#spread {
    grid-area: spr;
}

#resource {
    grid-area: res;
}

#img1 {
    grid-area: im1;
}

#img2 {
    grid-area: im2;
}

#img3 {
    grid-area: im3;
}

#img4 {
    grid-area: im4;
}

#img5 {
    grid-area: im5;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1em;
    grid-template-areas:
        "hea hea hea hea"
        "sta sta sta im1"
        "eff eff im2 im3"
        "evs evs upe upe"
        "spr spr im4 im5"
        "res res res res";
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/
@media only screen and (max-width: 1035px) {
    main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 1em;
    grid-template-areas:
        "hea hea"
        "sta im1"
        "eff eff"
        "im2 im3"
        "evs evs"
        "upe upe"
        "spr spr"
        "im4 im5"
        "res res";
}
}
@media only screen and (max-width: 600px) {
    main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 1em;
    grid-template-areas:
        "hea"
        "sta"
        "im1"
        "eff"
        "im2"
        "im3"
        "evs"
        "upe"
        "spr"
        "im4"
        "im5"
        "res";
}
}