header {
    grid-area: hea;
}

#overview {
    grid-area: ove;
}

#judge {
    grid-area: jud;
}

#benefitsbreeding {
    grid-area: bbr;
}

#needstobreed {
    grid-area: ntb;
}

#hatching {
    grid-area: hat
}

#resource {
    grid-area: res;
}

#img1 {
    grid-area: im1;
}

#img2 {
    grid-area: im2;
}

#img3 {
    grid-area: im3;
}

#img4 {
    grid-area: im4;
}

#img5 {
    grid-area: im5;
}

#img6 {
    grid-area: im6;
}

#img7 {
    grid-area: im7;
}
#img8 {
    grid-area: im8;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1em;
    grid-template-areas:
        "hea hea hea hea"
        "ove ove ove im1"
        "jud jud im2 im3"
        "bbr bbr im4 im5"
        "ntb ntb ntb im6"
        "hat hat im7 im8"
        "res res res res";
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/
@media only screen and (max-width: 600px) {
    main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1em;
    grid-template-areas:
        "hea hea hea hea"
        "ove ove ove img"
        "jud jud im2 im3"
        "bbr bbr im4 im5"
        "ntb ntb ntb im6"
        "hat hat im7 im8"
        "res res res res";
}
}