:root {
    --readmorelinkbackground: rgb(173, 173, 162);
    --readmorelinkhoverbackground: rgb(188, 188, 169);
}

header {
    background-image: url("../../pictures/pokemonpics/rotomphonespark.jpg");
    height: 200px;
    background-position: 50% 55%;
    border-bottom: 5px solid var(--blackcolor);
    margin-bottom: 1em;
}

h1 {
    color: var(--whitecolor);
    padding-top: 0.5em;
    font-size: 400%;
    font-style: oblique;
    margin-right: 0.25em;
    margin-left: 0.25em;
    text-shadow:
        -2px -2px 0 black,
        /* Top-left shadow */
        2px -2px 0 black,
        /* Top-right shadow */
        -2px 2px 0 black,
        /* Bottom-left shadow */
        2px 2px 0 black;
    /* Bottom-right shadow */

}

p {
    line-height: 2em;
    font-size: larger;
}

div {
    background-color: rgb(215, 215, 215);
    padding: 1em;
    border-radius: 1em;
}

footer {
    margin-top: 1em;
}

#overview>h2 {
    text-align: center;
}

#overview {
    grid-area: ove;
    text-align: center;
}
#readmoreoverviewlink {
    text-align: left;
}

#overviewlink {
    background-color: var(--readmorelinkbackground);
    padding: 0.5em;
    border-radius: 0.75em;
    
}

#overviewlink:hover {
    background-color: var(--readmorelinkhoverbackground);
}

#team {
    grid-area: tea;
}

#teamlink {
    background-color: var(--readmorelinkbackground);
    padding: 0.5em;
    border-radius: 0.75em;
}

#teamlink:hover {
    background-color: var(--readmorelinkhoverbackground);
}

#train {
    grid-area: tra;
}

#traininglink {
    background-color: var(--readmorelinkbackground);
    padding: 0.5em;
    border-radius: 0.75em;
}

#traininglink:hover {
    background-color: var(--readmorelinkhoverbackground);
}

#breed {
    grid-area: bre;
}

#breedinglink {
    background-color: var(--readmorelinkbackground);
    padding: 0.5em;
    border-radius: 0.75em;
}

#breedinglink:hover {
    background-color: var(--readmorelinkhoverbackground);
}

#resrouce {
    grid-area: res;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, fit-content);
    grid-gap: 1em;
    grid-template-areas:
        "ove ove"
        "tea tra"
        "bre res";
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/
@media only screen and (max-width: 820px) {
    h1 {
        font-size: 350%;
    }
}

@media only screen and (max-width: 720px) {
    h1 {
        font-size: 300%;
    }
}

@media only screen and (max-width: 620px) {
    h1 {
        font-size: 250%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, min-content);
        grid-gap: 1em;
        grid-template-areas:
            "ove"
            "tea"
            "tra"
            "bre"
            "res";
    }
}