:root {/*Colors for the webpage*/
    --title: rgb(111, 0, 255);
    /*colors for gradient*/
    --rgradient:rgba(255, 0, 0, 0.596);
    --wgradient:rgb(255, 255, 255);
    --pgradient:rgb(85, 7, 85);
    --bgradient: rgb(34, 67, 255);
    /*colors for sukuna*/
    --fonth2sukuna: rgb(255, 76, 183);
    --fonth4sukuna: rgb(221, 0, 255);
    --fontpsukuna: rgb(118, 232, 255);
    --ulcolor: rgb(143, 240, 203);
    --black: rgb(0, 0, 0);
    --textpshdw: rgb(217, 255, 0);
    --sukunah4team:rgb(111, 0, 255);
    /*colors for gojo*/
    --fonth3gojo: rgb(119, 20, 181);
    --fonth2gojo: rgba(97, 97, 255, 0.342);
    --fontpgojo: rgb(184, 138, 138);
    /*colors for techadvice*/
    --fonth3tech: rgb(74, 127, 44);
    --fontptech: rgb(198, 108, 198);
    --fonth2homedepot: rgb(192, 119, 23);
    --fonth5mcdonalds: rgb(242, 255, 94);
    --fonth3bestbuy: rgb(0, 0, 255);
    /*colors for legday*/
    --legdaybg: rgba(255, 162, 0, 0.805);
    --legdaybrd: rgb(241, 93, 214);
    --fonth4legday: rgb(255, 253, 134); 
    --fontplegday: rgb(164, 231, 64);
    /*colors for article*/
    --fonth2eepies: rgb(255, 107, 255);
    --articlebg: rgb(166, 166, 255);
    --articlecolor: rgb(183, 211, 128);
}
* {
    margin: 0 auto;
}
/****************
    Styling for <a> 
*****************/
a[href]:hover {
    color:rgb(128, 128, 128);
}
a[ref]:visited {
    color:rgb(165, 42, 42);
}
/****************
    Classes used everywhere 
*****************/
.floatleft {
    float:left;
}
.floatright {
    float:right;
}
.textleft {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.black {
    color: var(--black);
}
/****************
    Header 
*****************/
header {
    background: url("../pictures/fpictures/fireworks.jpg");
    background-size: 25em;
    padding-bottom: 3em;
    border: 2em dotted var(--title);
}
#bow {/*Left-side hamster img*/
    float: left;
    width: 5em;
}
#ham {/*Right-side hamster img*/
    float: right;
    width: 5em;
}
#title {/*h1 for the webpage*/
    text-align: center;
    color: var(--title);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:line-through;
}
/****************
    Pokemonmaster Section
*****************/
#pokemonmaster {
    background-image: 
    linear-gradient(161deg, 
    var(--rgradient) 20%, var(--rgradient) 25%, 
    var(--wgradient) 40%, var(--wgradient) 50%,
    var(--rgradient) 60%, var(--rgradient) 100%);
    padding-bottom: em;
    max-height: 20em;
    border: 1em solid;
}
#pokemonmaster>h2 {
    margin-top: 0;
    color: var(--fonth2sukuna);
}
#pokemonmaster>p {
    color: var(--fontpsukuna);
    font-size:x-large;
    text-shadow: .1em .1em var(--textpshdw);
}
#pokemonmaster>h4 {
    color: var(--fonth4sukuna);
    text-shadow: .1em .1em var(--sukunah4team);
}
#pokemonmaster>ul {
    color: var(--ulcolor);
    text-align: left;
    padding-bottom: 5em;
    column-count: 2;
    font-size: larger ;
    background: url("../pictures/fpictures/listbackground.png");
    background-size: 25;
    
}
/****************
    Aside Styling
*****************/
aside {
    margin: 0;
    padding: 2em 1em 2em 1em;
    width:20%;
    max-height:max-content;
    border-style: ridge none ridge ridge;
    border-width: 1em;
    background-image:
        linear-gradient(90deg, 
    var(--pgradient) 20%, var(--pgradient) 25%, 
    var(--wgradient) 40%, var(--wgradient) 50%,
    var(--pgradient) 60%, var(--pgradient) 100%); 
}
aside>img {
    width: 100%;
}
/****************
    Goat-jo Section
*****************/
#goatjo>h2 {
    clear:left;
    color: var(--fonth2gojo);
}
#goatjo {
    background-image:
        linear-gradient(21deg, 
    var(--rgradient) 5%, var(--pgradient) 25%, 
    var(--wgradient) 40%, var(--wgradient) 50%,
    var(--pgradient) 60%, var(--bgradient) 100%);
    height: 300px;
    border-left: 1em solid var(--fonth3gojo);
    border-bottom: 1em solid var(--fonth3gojo);
}
#goatjo>p {
    background: url("../pictures/fpictures/gojo_p_background.png");
    margin-left: 10%;
    padding-left: 5em;
    height: 255px;
    font-family: monospace;
    font-size: xx-large;
    font-weight: 600;
    line-height: 2em;
    color: var(--fontpgojo);
    background-position: 1% 50%;
}
#strongest {
    max-width: 250px;
}
/****************
    Tech Section
*****************/
#techadvice {
    background: url("../pictures/fpictures/html_background.png");
    background-size: 80em; 
    padding-bottom: 1em;
    height: 500px;
}
#techadvice>h3 {
    clear: left;
    color: var(--fonth3tech);
}
.tech {
    max-width: 300px;
    margin-left: 5em;
}
#techadvice>p {
    color: var(--fontptech);
}
div>h2 {
    color: var(--fonth2homedepot);
}
#homedepot {/*img*/
    border: 1em ridge var(--fonth2homedepot);
}
div>h5 {
    color: var(--fonth5mcdonalds);
}
#ron {/*img*/
    border: 1em groove var(--fonth5mcdonalds);
    margin-top: 1.55em;
}
div>h4 {
    color: var(--fonth3bestbuy);
}
#bestbuy {/*img*/
    border: 1em double var(--fonth3bestbuy);
    margin-top: .6em; 
}
/****************
    Legday Section
*****************/
#legday {
    background: url("../pictures/fpictures/legdaybackground.png");
    height: 375px;
    border: 2em dotted var(--legdaybrd);
    margin-right: 22.4%;
}
#spongebob {/*img*/
    max-width: 10em;
    padding: .5em;
}
#legday>p {
    padding-left: 1em;
    font-family: fantasy;
    font-size: large;
    border: 5px inset var(--legdaybrd);
    background-color: var(--legdaybg);
    color: var(--fontplegday);

}
p>img {/*Affects the images in the <p> tag*/
    max-width: 3em;
}
#legday>h4 {/*article header*/
    clear: left;
    color: var(--fonth4legday)
}
article {
    column-count: 3;
    column-gap: 1em;
    column-rule: 5px ridge var(--articlecolor);
    color: var(--articlecolor);
    background: var(--articlebg);
}
article>h2 {
    color: var(--fonth2eepies);
}
/****************
    Footer
*****************/
footer {
    background: url("../pictures/fpictures/grave.png") no-repeat;
    background-size: 16em;
    background-position: 36%;
    height: 20em;
    padding-top: 2em;
}
#grave {
    text-align: center;
    font-size:x-large;
    padding-top: 4em;
}
/**/