h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}
section#gallery {
    display:flex;
    flex-wrap: wrap;
    row-gap: 3em;
    column-gap: 3em;
    padding: 1em;
    justify-content: center;
    
}
section#gallery>div {
    text-align: center;
    position: relative;
}
img {
    width: 300px;
}
.scale {
    transform-origin: center 60%; 
    position: relative;
    overflow: hidden;
}
img:hover {
    transform: scale(1.10);
    z-index: 1;
    box-shadow: -0.1em -0.1em 0.5em black, 0.1em 0.1em 0.5em black;
}