:root {
    /*Custom Properties :root Pseudo-class Selector*/
    --imageshadowleft: rgb(0, 0, 255);
    --imageshadowright: rgb(255, 0, 0);
    --figurebackgorundcolor: rgb(255, 255, 255);
}

/*****************************
    THIS STYLE PAGE IS FOR: herptoculture.html 
*****************************/
h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

img {
    /*This declaration removes the previous stylings put by the structure.css page*/
    all: revert;
}

.paragraphinborder {
    /*Class selector, given to <p> tags that are in a bordered area*/
    margin: auto;
    text-indent: 2em;
    line-height: 2em;
    font-size: larger;
}

.picinborder {
    /*Class selector, given to <section> tags*/
    background-color: var(--text_background_color);
    border-radius: 1em;
    padding: 1em;
    border: .25em solid var(--border_color);
    overflow: hidden;
    margin: 0 5% 0 5%;
}

figure {
    background-color: var(--figurebackgorundcolor);
    box-shadow: -0.1em -0.1em 0.5em var(--imageshadowleft), 0.1em 0.1em 0.5em var(--imageshadowright);
}

.figureinborder {
    /*Class Selector, makes the <figure> tags float in the <section> tags*/
    float: left;
    margin-right: 1em;
}

figcaption {
    /*Styling for the words below the <img> tags*/
    align-content: center;
    font-style: italic;
    font-size: small;
    padding: 0.5em 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.edumargin {
    /*Class Selector, given to <figure> tags, gives spacing between the images at the bottom of the page*/
    margin-top: 2em;
    margin-bottom: 2em;
    width: min-content;
}

.scale {
    /*Class selector, used to scale <img> tags*/
    width: 75%;
    min-width: 300px;
}

#smallgallery {
    /*ID selector, styling is a flexbox given to a <section> tag, Makes the images on the bottom be able to move smoothly on the screen*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4em;
    margin-left: 5%;
    margin-right: 5%;
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/

@media only screen and (max-width: 700px) {
    .figureinborder { /*Stops the float of the <figure> tags in <section> tags*/
        float: none;
        width: min-content;
        margin: auto;
    }
}