:root {
    --imageshadowleft: rgb(0, 0, 255);
    --imageshadowright:rgb(255, 0, 0);
}
.paragraphinborder{
    all: revert;
    margin: auto;
    text-indent: 2em;
    line-height: 2em;
    font-size: large;
}
img {
    all: revert;
}
.picinborder {
    background-color: var(--text_background_color);
    border-radius: 1em;
    padding: 1em;
    border: .25em solid var(--border_color);
    overflow: hidden;
    margin: 0 5% 0 5%;
}

figure {
    float: left;
    margin-right: 1em;
    box-shadow: -0.1em -0.1em 0.5em var(--imageshadowleft), 0.1em 0.1em 0.5em var(--imageshadowright);
    background-color: white;
}
figcaption {
    align-content: center;
    font-style: italic;
    font-size:small;
    padding: 0.5em 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
