#introduction a:hover {
    color: var(--oc_link_hover_color);
    font-size: 125%;
}

section {
    margin-top: 1em;
}

#me {
    float: left;
    margin-right: 0.25em;
    margin-left: 15%;
    margin-bottom: 2em;
    width: 100%;
    max-width: 431px;
}

main p {
    padding: 1em;
    margin: 0 15% 2em 15%;
    overflow: hidden;
    font-size: large;
}

#mindseth2 {
    clear:left;
}

.bothlist {
    display: grid;
    /*Created the two columns of the two list*/
    grid-template-columns: auto auto;
    /*Two equal columns*/
    justify-items: center;
    /*Makes the border background fit the text*/
    margin: auto 15% auto 15%;
    clear: both;
}

section ul {
    background-color: var(--text_background_color);
    border: .25em solid var(--border_color);
    border-radius: 1em;
    padding: 1em 1.5em 1em 3em;
}

.bothlist li {
    text-align: left;
    line-height: 3em;
    font-size: large;
}

/***************** 
Following CSS are for the Section: Owning animals
*****************/
div {
    overflow: hidden;
    margin-bottom: 1em;
}

.doggos {
    max-width: 250px;
    float: left;
    margin-left: 20%;
    margin-right: 0.25em;
}

.doggoheader {
    text-align: left;
    margin-left: 40%;
}

.doggoparagraph {
    margin-left: 40%;
    text-indent: 0;
}

/*****************
    All tags below 
    are in <div> 
    with ID:bubbles
*****************/
div#bubbles>img {
    clear: left;
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/

@media only screen and (max-width: 1407px) {
    main p {
        margin: 0 5% 1em 5%;
    }

    #introduction {
        clear: left;
    }

    #me {
        float: none;
        display: block;
        width: 25%;
        min-width: 275px;
        margin: auto;
        margin-bottom: 1em;
    }

    h1 {
        margin: 0 0 0.25em 0;
    }

    .doggos {
        margin-left: 10%;
        margin-right: 1em;
    }

    .doggoparagraph {
        margin-right: 10%;
        margin-left: 35%;
    }
    .doggoheader {
    margin-left: 35%;
}
}

@media only screen and (max-width: 980px) {
    .doggos {
        float: none;
        display: block;
        max-width: 250px;
        margin: auto;
        margin-bottom: 1em;
    }

    .doggoparagraph {
        margin-left: 5%;
        margin-right: 5%;
    }

    div#benji>h3 {
        text-align: center;
        margin: auto;
    }

    div#bubbles>h3 {
        text-align: center;
        margin: auto;

    }
}

@media only screen and (max-width: 720px) {
    .bothlist {
        display: block;
    }
}