:root { /*Custom Properties :root Pseudo-class Selector*/
    --text_background_color: rgb(255, 124, 124);
    --header_shadow_color: rgba(39, 39, 197, 0.778);
    --border_color: rgb(221, 221, 221);
    --link_color: rgb(94, 131, 252);
    --link_hover_color: rgb(122, 21, 216);
    --oc_link_hover_color: rgb(25, 163, 13);
    --body_bg_color: rgba(97, 118, 255, 0.57);
}
* { /*Universal Selector*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*Font that will apply if nothing is specified for the element*/
    text-align: center; /*text in the body will be centered*/
}
h1, h2{ /*Combination Selector (Multiple Selector)*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-variant: small-caps;
    text-shadow: .1em .01em .1em var(--header_shadow_color);
}
a[href] { /*Attribute Selector, Style any <a> tag with the href attribute*/
    color: var(--link_color);
}
a[href]:hover { /*Attribute Selector with a Pseudo-element(:hover), Style the hover action of any <a> tag*/
    color: var(--link_hover_color);
    font-size: 150%;
}
#introduction a:hover { /*ID Selector with a Descendant Relational Selector, Styles the pseudo-element(:hover) of the <a> tag in the <p> tag ID:introduction*/
    color: var(--oc_link_hover_color);
    font-size: 150%;
}
body {
    background: var(--body_bg_color) url("../Pictures/sad_hamster.png");
}
main p { /*Descendant Relational Selector, Styles <p> tags that are descendant of the <main> tag*/
    text-align: left;
    text-indent: 2em;
    line-height: 2em;
    /*The border and color that will go around all <p> elements*/
    background-color: var(--text_background_color);
    border-radius: 1em;
    border: .25em solid var(--border_color);
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 25%;
    margin-left: 25%; 
}
.bothlist { /*A Class Selector, Styles all elements in section:bothlist*/
    display: grid; /*Created the two columns of the two list*/
    grid-template-columns: auto auto; /*Two equal columns*/
    gap: 1em; /*Space between columns */
    justify-items:center; /*Makes the border background fit the text*/
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 25%;
    margin-left: 25%;
}
section ul { /*Descendant Selector, Styles <ul> tags that are descendant of the <section> tag*/
    background-color: var(--text_background_color);
    border: .25em solid var(--border_color);
    border-radius: 1em;
}
.bothlist li { /*Class Selector with a Descendant Selector, Styles the <li> tags that are descendant of the Class ".bothlist"*/
    text-align: left;
    margin: 0 auto;
    line-height: 1em;
    padding: 1em 1em .75em;
}
img{ /*Type Selector, Styles all <img> tags*/
    border: .25em solid var(--border_color);
    border-radius: 1em;
    margin: 0 auto;
    width: 20%;
    height: 20%;
}

/* Following CSS are for the Section: doggos*/

/*All tags here are in <div> with ID:benji*/

div#benji>img { /*A Combination Selector for an ID within an element and a Child Relational Selector, Parent>Child, Styling <img> tags that are children of the <div> tag with an ID:benji*/
    float: left;
    margin-left: 25%;
}
div#benji>h2 {  /*A Combination Selector for an ID within an element and a Child Relational Selector, Parent>Child, Styling <h2> tags that are children of the <div> tag with an ID:benji*/
    padding-top: 1%;
}
div#benji>p { /*A Combination Selector for an ID within an element and a Child Relational Selector, Parent>Child, Styling <p> tags that are children of the <div> tag with an ID:benji*/
    margin-left: 47% ;
    align-content: center;
    text-indent: 0;
}

/*All tags here are in <div> with ID:bubbles*/

div#bubbles>h2 { /*A Combination Selector for an ID within an element and a Child Relational Selector, Parent>Child, Styling <h2> tags that are children of the <div> tag with an ID:bubbles*/
    clear: left;
    padding-top: 1%;
}
div#bubbles>img { /*A Combination Selector for an ID within an element and a Child Relational Selector, Parent>Child, Styling <img> tags that are children of the <div> tag with an ID:bubbles*/
    float: left;
    margin-left: 25%;
}
div#bubbles>p { /*A Combination Selector for an ID within an element and a Child Relational Selector, Parent>Child, Styling <p> tags that are children of the <div> tag with an ID:bubbles*/
    margin-left: 47% ;
    align-content: center;
    text-indent: 0;
}
footer { /*Type Selector, Styles the <footer> tag*/
    clear: left;
}
/**/