:root {
    --whitecolor: rgb(255, 255, 255);
    --imgborder: rgb(95, 95, 95);
    --blackcolor: rgb(0, 0, 0);
    --backgroundofbody: rgb(237, 237, 237);
}

body {
    background: var(--backgroundofbody);
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

img {
    border-color: var(--imgborder);
    width: 100%;
}

header {
    background-image: url("../pictures/pingpongpicture/headerbackground.png");
    border-bottom: 2px solid var(--blackcolor);
    background-position: 45% 25%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

h1 {
    color: var(--whitecolor);
    font-size: 400%;
    font-style: oblique;
    text-shadow:
        -2px -2px 0 black,
        /* Top-left shadow */
        2px -2px 0 black,
        /* Top-right shadow */
        -2px 2px 0 black,
        /* Bottom-left shadow */
        2px 2px 0 black;
    /* Bottom-right shadow */

}

#rulesintroh2 {
    font-size: 350%;
}

#rulesimg {
    float: left;
    width: 40%;
    margin-right: 3em;
    margin-bottom: 2em;
    min-width: 250px;
}

#rulespara {
    width: 100%;
}

div#rulespara>p {
    font-size: 400%;
    margin: 0;
}

#summary {
    clear: left;
    margin-bottom: 3em;
}

#summaryintrotext {
    font-size: 200%;
    margin: 0;
    margin-bottom: 0.25em;
}

#summaryintropara {
    font-size: 150%;
    line-height: 2em;
    text-indent: 2em;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--blackcolor);

}

#listofrules {
    background-color: rgba(170, 170, 170, 0.463);
    padding: 1em
}

#listofrules p {
    margin-top: 0.25em;
    margin-bottom: 2em;
    margin-left: 4em;
    font-size: large;
    line-height: 2em;
}

.rulesh3 {
    font-size: 150%;
    font-weight: 800;
    text-align: left;
}

@media only screen and (max-width: 1220px) {
    div#rulespara>p {
        font-size: 300%
    }
}

@media only screen and (max-width: 1080px) {
    h1 {
        font-size: 300%
    }
}

@media only screen and (max-width: 920px) {
    div#rulespara>p {
        font-size: 200%;
    }

    #rulesintroh2 {
        font-size: 235%;
    }
}

@media only screen and (max-width: 830px) {
    h1 {
        font-size: 200%;
        padding-bottom: 0;
        text-shadow:
            -1.5px -1.5px 0 black,
            /* Top-left shadow */
            1.5px -1.5px 0 black,
            /* Top-right shadow */
            -1.5px 1.5px 0 black,
            /* Bottom-left shadow */
            1.5px 1.5px 0 black;
            /* Bottom-right shadow */
    }
}

@media only screen and (max-width: 610px) {
    div#rulespara>p {
        font-size: 150%;
    }

    #rulesintroh2 {
        font-size: 200%;
    }
}

@media only screen and (max-width: 510px) {
    #rulesimg {
        float: none;
        margin: auto;
    }

    div#rulespara>p {
        font-size: 200%;
    }
    #summaryintropara {
    font-size: 100%;
}
#listofrules p {
    margin-left: 0.5em;
    margin-right:0.5em;
}
}