main p {
    all: revert;
}
img {
    border-color: white;
    width: 100%;
}

body {
    background: rgb(227, 227, 227);
}

h1 {
    background-image: url(pictures/pingpongpictures/pingpongh1bg.jpg);
    color: white;
    font-size: 300%;
    font-style: oblique;
    text-shadow:
    -2px -2px 0 black, /* Top-left shadow */
     2px -2px 0 black, /* Top-right shadow */
    -2px  2px 0 black, /* Bottom-left shadow */
     2px  2px 0 black; /* Bottom-right shadow */
    border-bottom: 2px solid black;
    background-position: 45% 25%;
    height: 100px;
    padding-top: 5%;
}
#rules {
    width: 40%;
    float: left;
}

@media only screen and (max-width: 810px) {
    h1 {font-size: 250%
    }
}
@media only screen and (max-width: 670px) {
    h1 {font-size: 200%
    }
}