:root {
    /*Custom Properties :root Pseudo-class Selector*/
    --whitecolor: rgb(255, 255, 255);
    --imgborder: rgb(95, 95, 95);
    --blackcolor: rgb(0, 0, 0);
    --backgroundofbody: rgb(237, 237, 237);
}

body {
    /*Background of the <body> tag*/
    background: var(--backgroundofbody);
}

main {
    /*margin applied to hte <main>*/
    margin-left: 5%;
    margin-right: 5%;
}

img {
    border-color: var(--imgborder);
    width: 100%;
}

header {
    /*Background applied to the <header> tag*/
    background-image: url("../pictures/pingpongpicture/headerbackground.png");
    /*img background*/
    border-bottom: 2px solid var(--blackcolor);
    /*applies a border to the bottom of the <header> tag*/
    background-position: 45% 25%;
    /*Changes the positioning of the image in the space of the <header> tag*/
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

h1 {
    color: var(--whitecolor);
    font-size: 400%;
    font-style: oblique;
    text-shadow:
        -2px -2px 0 black,
        /* Top-left shadow */
        2px -2px 0 black,
        /* Top-right shadow */
        -2px 2px 0 black,
        /* Bottom-left shadow */
        2px 2px 0 black;
    /* Bottom-right shadow */

}

#rulesintroh2 {
    /*Changes font size*/
    font-size: 350%;
}

#rulesimg {
    /*Floats this img to the left*/
    float: left;
    width: 40%;
    margin-right: 4em;
    margin-bottom: 2em;
    min-width: 250px;
}

#intro {
    margin-top: 2em;
}

#rulespara {
    /*Makes the <p> this ID is on, take up 100% of the width of its container*/
    width: 100%;
}

div#rulespara>p {
    /*Child Relational selector, Styles <p> tags that are children of the div#rulespara element*/
    font-size: 400%;
    margin: 0;
}

#summary {
    /*ID selector, makes the element not flow to the right of the floated elements above it*/
    clear: left;
    margin-bottom: 3em;
}

#summaryintrotext {
    /*ID selector*/
    font-size: 200%;
    margin: 0;
    margin-bottom: 0.25em;
}

#summaryintropara {
    /*ID selector*/
    font-size: 150%;
    line-height: 2em;
    text-indent: 2em;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--blackcolor);

}

#listofrules {
    /*ID selector*/
    background-color: rgba(170, 170, 170, 0.463);
    padding: 1em
}

#listofrules p {
    /*Descendant Relational selector styles <p> tags that are decendants of #listofrules*/
    margin-top: 0.25em;
    margin-bottom: 2em;
    margin-left: 4em;
    font-size: large;
    line-height: 2em;
}

.rulesh3 {
    /*Class selector, given to <h#> tags*/
    font-size: 150%;
    font-weight: 800;
    text-align: left;
}

/***************** *****************/
/*****************
Media Queries Start Here
*****************/

@media only screen and (max-width: 1220px) {
    div#rulespara>p {
        font-size: 350%
    }
}

@media only screen and (max-width: 1080px) {
    h1 {
        font-size: 300%
    }

    div#rulespara>p {
        font-size: 300%
    }
}

@media only screen and (max-width: 950px) {
    div#rulespara>p {
        font-size: 250%;
    }

    #rulesintroh2 {
        font-size: 250%;
    }
}

@media only screen and (max-width: 820px) {
    h1 {
        font-size: 200%;
        padding-bottom: 0;
        text-shadow:
            -1.5px -1.5px 0 black,
            /* Top-left shadow */
            1.5px -1.5px 0 black,
            /* Top-right shadow */
            -1.5px 1.5px 0 black,
            /* Bottom-left shadow */
            1.5px 1.5px 0 black;
        /* Bottom-right shadow */
    }

    div#rulespara>p {
        font-size: 250%;
    }
}

@media only screen and (max-width: 815px) {
    div#rulespara>p {
        font-size: 200%;
    }
}

@media only screen and (max-width: 653px) {
    #rulesintroh2 {
        font-size: 200%;
    }
}

@media only screen and (max-width: 624px) {
    #rulesimg {
        float: none;
        /*makes the img no longer be floated at this viewport width*/
        margin: auto;
    }

    div#rulespara>p {
        font-size: 150%;
    }

    #summaryintrotext {
        font-size: 150%;
    }

    #summaryintropara {
        font-size: 100%;
    }

    #listofrules p {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}